<div
  id="main_search_content"
  :class="isDateShow?'full_content':'quarter_content'"
>
  <div class="container-fluid">
    <div class="row">
      <div class="isDateShow?'col-md-4':'col-md-12'">
        <!-- 多条件搜索 -->
        <div class="card mt10" style="margin-top:10px;">
          <!-- <div class="card-body">
              
            </div>-->
          <!-- <h5 class="card-title card-my-header">搜索条件</h5> -->
          <!-- TODO [-] 此处修改 -->
          <div class="card-header card-my-header">多条件搜索</div>
          <form class="card-body card-my-body">
            <div class="form-row">
              <div class="form-group col-md-6 form-inline">
                <div class="col-sm-3 smdiv">
                  <label for="inputEmail4">级别</label>
                </div>
                <!-- <input v-model="level" class="form-control col-md-7" /> -->
                <select class="from-control col-md-7" v-model="level">
                <option v-for="item in typhoonLevelOptions" :key="item.key"
                :value="item.key">{{item.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-6 form-inline">
                <div class="col-sm-3 smdiv">
                  <label for="inputPassword4">最大风速</label>
                </div>
                <input class="form-control col-md-7" v-model="wsm" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 form-inline">
                <div class="col-sm-3 smdiv">
                  <label for="inputAddress">气压</label>
                </div>
                <input class="form-control col-md-7" v-model="bp" />
              </div>
              <div class="form-group col-md-6 form-inline">
                <div class="col-sm-3 smdiv">
                  <label for="inputAddress">台风编号</label>
                </div>
                <input class="form-control col-md-7" v-model="searchNum" />
              </div>
            </div>

            <div class="form-row">
              <div
                class="form-group col-md-6 form-inline"
                style="text-align:left;"
              >
                <div class="col-sm-3 smdiv">
                  <label>起始月</label>
                </div>

                <el-date-picker
                  v-model="startMonth"
                  type="month"
                  placeholder="起始月"
                  style="width:60%;"
                ></el-date-picker>
              </div>
              <div class="form-group col-md-6 form-inline">
                <div class="col-sm-3 smdiv">
                  <label>截至月</label>
                </div>
                <el-date-picker
                  v-model="endMonth"
                  type="month"
                  placeholder="截至月"
                  style="width:60%;"
                ></el-date-picker>
              </div>
            </div>
            <el-button
              type="primary"
              icon="el-icon-search"
              @click="loadSearchResult"
              >搜索</el-button
            >
          </form>
        </div>
        <!-- 左侧下侧台风列表 -->
        <div class="card mt10">
          <div class="card-header card-my-header">台风列表</div>
          <div class="card-body card-my-body">
            <ul class="list-group">
              <li
                class="list-group-item list-my-group-item"
                v-for="(item,index) in typhoonCodeList"
                :key="index"
                @click="clickCode4Time(item)"
              >
                {{ item.code }}|{{ item.year }}|{{item.num}}
              </li>
            </ul>
            <el-pagination
              background
              layout="prev, pager, next"
              :total="typhoonCodeDataTotal"
              :page-size="typhoonCodePageSize"
              @current-change="typhoonCodePageChange"
            ></el-pagination>
          </div>
        </div>
        {% comment %} 左侧下下侧台风气象基础信息框 {% endcomment %}
        <div class="card mt10">
        <rightBarDetail
        :typhoonNum="num"
        :typhoonName="code"></rightBarDetail>
        </div>
      </div>
      
      <transition name="fade">
        <div v-show="isDateShow" class="col-md-6">
          <!-- 右侧上侧对应台风时间列表 -->
          <div
            class="card mt10"
            v-if="isDateShow"
            @mouseleave="hiddeDateForm()"
          >
            <!-- <div class="card-body card-my-body">
                
              </div>-->
            <div class="card-header card-my-header">影响时间|此次过程中共影响<font :class='stationNumStateClass(stationNum)'>{{stationNum}}</font>个测站</div>
            <!-- <h5 class="card-title">台风编号</h5> -->
            <!-- 此处不再套在card-body中，样式更好看一些，去掉了padding -->
            <div class="card-body card-my-body">
              <ul class="list-group">
                <li
                  class="list-group-item list-my-group-item"
                  v-for="(item,index) in typhoonTimeData"
                  :key="index"
                  @click="clickDateForDetail(item)"
                >
                  {{ item._id }}
                </li>
              </ul>
              <el-pagination
                background
                layout="prev, pager, next"
                :total="typhoonTimeDataTotal"
                :page-size="typhoonTimeDataPageSize"
                @current-change="typhoonTimeDataPageChange"
              ></el-pagination>
            </div>
          </div>
          <!-- 右侧下侧测站观测值 -->
          <div class="card mt10" v-show="isDetailShow">
            <!-- <div class="card-body card-my-body"></div> -->
            <div class="card-header card-my-header">观测数据</div>
            <!-- <h5 class="card-title">观测数据</h5> -->
            <el-table
              :data="typhoonDetailData"
              stripe
              style="width:100%"
              @row-click="clickDetailData"
            >
              <el-table-column type="index"></el-table-column>
              <el-table-column prop="wsm" label="风速"></el-table-column>
              <el-table-column prop="level" label="级别"></el-table-column>
              <el-table-column prop="bp" label="气压"></el-table-column>
            </el-table>
            <el-pagination
              background
              layout="prev, pager, next"
              :total="typhoonDetailDataTotal"
              :page-size="typhoonDetailPageSize"
              @current-change="typhoonDetailPageChange"
            ></el-pagination>
          </div>
        </div>
      </transition>
    </div>
  </div>
</div>
