#main_search_content {
  position: absolute;
  top: 50px;
  z-index: 1040;
  text-align: left;
  /* width: 100%; */
}

.quarter_content {
  width: 30%;
}

.full_content {
  width: 100%;
}

.row {
  text-shadow: 0 0 0 black !important;
}

#main_search_content .container-fluid {
  background: rgba(255, 255, 255, 0);
  color: black;
  width: 80%;
}

.mt10 {
  margin-top: 10px;
}

.mt10 label {
  font-size: 85%;
}

/* 缩小label的左右内间距 */
.mt10 .smdiv {
  padding-left: 5px;
  padding-right: 5px;
}

/* 修改bootstrap的card样式 */
.card {
  background: rgba(224, 236, 238, 0);
}

/* 与之前写的左侧导航栏相同的css样式 */
.card-my-header {
  background: linear-gradient(to right, #1a6865 30%, rgba(4, 107, 114, 0.639));
  font-size: 90%;
  text-shadow: 2px 2px 8px rgb(33, 32, 32);
  color: #ffffff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* 右侧顶部的当前过程的测站数量样式 */
.card-my-header font {
  /* color: aqua; */
  font-weight: bolder;
  text-shadow: 2px 2px 10px #000;
}

.card-my-header .warning {
  color: rgba(255, 4, 0, 0.858);
}
.card-my-header .info {
  color: aqua;
}
.card-my-header .normal {
  color: rgba(242, 254, 28, 0.913);
}

.card-my-body {
  background: linear-gradient(to right, #248e8a 30%, rgba(4, 107, 114, 0.639));
  padding: 8px 8px 8px 8px;
  color: #ffffff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.list-my-group-item {
  color: rgb(4, 4, 4);
  font-size: 85%;
  background: rgba(184, 206, 200, 0.557);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgb(33, 32, 32);
}

.list-my-group-item:hover {
  color: rgb(255, 255, 255);
  font-size: 85%;
  background: rgba(111, 238, 204, 0.557);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.testColor {
  background: lightpink;
}

.themeGreen {
  background: #59989d;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}
