
webclient/package-lock.json
/webserver/TyphoonSystem/.idea
/webserver/.idea
/webserver/venv
/webserver/typhoon_venv
/byJupyter/.ipynb_checkpoints
/byJupyter/myproj/.idea
/byJupyter/.ipynb_checkpoints
/background/2-wordOpt/project/.idea
/webserver/TyphoonSystem/TyphoonSystem/__pycache__
/webserver/TyphoonSystem/common/__pycache__
/webserver/TyphoonSystem/apps/__pycache__
/webserver/TyphoonSystem/apps/Typhoon/__pycache__
/data/typhoon
/data/word
/data/station/new
/data/station/old
/data/station/txt
