
webclient/package-lock.json
/webserver/.idea
/webserver/venv
/webserver/typhoon_venv
/byJupyter/.ipynb_checkpoints
/byJupyter/myproj/.idea
/byJupyter/.ipynb_checkpoints
/background/2-wordOpt/project/.idea
