/* 搜救信息 form 中的 时间+区域的 样式 */
.coverage_filter_form {
    display: flex;
}
.coverage_filter_form .el-form-item {
    flex: 6;
    .elf-form-item__content {
        width: 100%;
    }
}

// 条件搜索及查询form的阴影统一
@card-box-shadow: {
    box-shadow: 0 0 10px 0px black;
};

// TODO:[-] 20-08-31 新加入的关于 form 的字体以及背景颜色
@form-header-text-color: {
    color: whitesmoke;
};
@form-header-background-color-start: {
    background: #16a085;
};
@form-header-background-color-end: {
    background-color: rgb(49, 159, 178);
};


