#main {
  position: fixed;
  top: 100px;
  right: 50px;
  /* height: 200px; */
  /* background: red; */
  z-index: 9999;
}
#main button {
  margin-bottom: 10px;
}
#textform {
  background: linear-gradient(to right, #2c3e50 30%, rgba(4, 107, 114, 0.639));
  max-height: 600px;
  overflow-y: scroll;
}
/* 设置自定义的滚动条效果： */
#textform::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2c3e50;
  border-radius: 10px;
}

#textform::-webkit-scrollbar {
  width: 10px;
  background-color: #2c3e50;
}

/* 这么设置滚动条的透明度无效 */
/* #textform::-webkit-scrollbar-track {
    opacity: 0.4;
  } */

/* #textform::-webkit-scrollbar-track {
    opacity: 0.4;
  } */

#textform::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

/* btn加入呼吸效果  */
.ani {
  -webkit-animation: blink 2s infinite ease-in-out;
}

@-webkit-keyframes blink {
  0% {
    box-shadow: 0px 0px 10px rgb(243, 196, 40);
  }

  50% {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-width: 0;
  }

  100% {
    box-shadow: 0px 0px 10px rgb(243, 196, 40);
  }
}
